{% load static %}

<!-- HEADER -->
<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">

            <!-- HEADER TOP -->
            <div class="col-lg-12">
                <div class="header-top">
                    <div class="header-top-logo">

                        <a href="/" title="ZhigLogo"><img class="rounded img-fluid"
                                                          Style="border-radius:1rem !important"
                                                          src="{% static '/img/logo.png' %}" alt="Zhiglogo"
                                                          data-rjs="2"> </a>
                    </div>

                    <div class="header-top-text">
                        <h3><a href="/" class="font-italic" title="На главную">“ZhigBlog” </a></h3>
                        <p>Блог для людей и <s>роботов</s></p>
                    </div>
                    <div class="header-top-logo">

                        <a href="/" title="RoB"><img class="rounded img-fluid"
                                                     src="{% static '/img/logo_mb.png' %}" alt="Bender" data-rjs="2">
                        </a>
                    </div>
                    <nav class="header-top-nav">
                        <ul>
                            <li class="header-top-nav-search">
                                <a href="#" class="light-link" title="Search"><i class="pe-7s-search"></i></a>
                                <form action="#" method="get">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <button type="submit"><i class="pe-7s-search"></i></button>
                                </form>
                            </li>
                            <li><a href="#" class="light-link" title="Menu">
                                <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end HEADER TOP -->

            <!-- HEADER NAVIGATION -->
            <div class="col-lg-12">
                <nav class="header-nav">
                    <ul>
                        <li><a href="/" title="Start page">Start page</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" title="Blog articles">Blog articles</a>
                            <ul class="dropdown-menu">
                                <li class="nav-elipse-blue"><a href="{% url 'post_list'%}"
                                                               title="Jotting about development WebAPP">WebAPP</a></li>
                                <li class="nav-elipse-red"><a href="/" title="About travel life">Trip-Blog</a></li>
                                <li class="nav-elipse-yellow"><a href="/"
                                                                 title="About Photoidea life">Photoidea-blog</a></li>
                                <li><a href="/" title="Reserve">Reserve</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" title="My projects">My projects</a>
                            <ul class="dropdown-menu">
                                <li class="nav-elipse-red"><a href="https://github.com/Sergzhig" title="From github">Github</a>
                                </li>
                                <li class="nav-elipse-blue"><a href="http://photoidea.by/" title="My little business">Photoidea</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about_me' %}" title="About me">About me</a></li>
                        <li><a href="{% url 'contact' %}" title="Contact me">Contact me</a></li>
                        {% if user.is_authenticated %}
                        <li class="buyproducts-link"><a href={% url 'login_view' %} title="Log OUT">LOG
                            OUT:[{{user.username}}]</a>

                            {% else %}
                        <li class="buyproducts-link"><a href={% url 'login_view' %} title="Log IN">LOG IN</a>
                            {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
        <!-- end HEADER NAVIGATION -->

    </div>
</header>
<!-- end HEADER -->
<!-- MOBILE NAVIGATION -->

<nav class="mobile-nav header-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Auto Copy Header Navigation -->
            </div>
        </div>
    </div>
</nav>

<!-- end MOBILE NAVIGATION -->