{% extends 'blog/base.html' %}
{%load static%}


{% block title %} {{title}} {% endblock title %}

{% block five%}
<a href="/">^назад</a>
{{ block.super }}
{%endblock%}


{% block content %}

  {% for post in posts %}
      <div>

          <p>published: {{ post.published_date }}</p>

          <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

          <p>{{ post.text|linebreaksbr|truncatewords:20 }}</p>
          <hr/>
          {% empty %} <p> Sorry, no posts</p>>
      </div>
  {% endfor %}

{% endblock %}