{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Zhig-сайт: {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!--    {% block css%}-->
<!--    {% endblock css %}-->

</head>

<body>

    {% block header %}
        {% include "includes/header.html" %}
    {% endblock header %}



    <section>

        <div class="container pt" style="background-color:#D6EAF8">
            <div class="row">
                <h2><a href="/">Сайт-памятка по настройке web-приложений</a></h2>
                <p>Перейти к интересующей статье можно по ссылке, либо, указав номер (ID) статьи в адресной строке/post/5/ . <br> По ID можно открыть еще неопубликованные статьи  </p>

            <div/>
        <div/>

    </section>

    <section>

        <div class="container pt-2">
            <div class="row">
                <div class="col-xl-4 col-sm-2 col-3" style="background-color:CornflowerBlue">
                    <p>Последние 5 статей:</p>
                    {%block five %}
                        <ul class="links">
                        {% for post in posts_five %}
                            <li> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
                        {% endfor %}
                        </ul>


                        <br/> <hr/>
                        <p>АРХИВ СТАТЕЙ</p>
                            <a href="/">{{ 2020 }}</a>
                            <br/>
                    <div>
                            {% for key, value in arh.items %}
                                <a href="{% url 'arhive_month' 2020 key %}"> 2020 {{value}} </a>
                                <br/>
                            {% endfor %}
                    </div>
                    {%endblock%}

                </div>
                <div class="col-xl-8 col-sm-10 col-9 text-left" style="min-height:540px; background-color:linen">

                    <div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"> Добавить новую запись</span></a>
                        <br>
                        <a href="{% url 'comment_new' %}" > Добавить новый комментарий</a>
                        {% endif %}
                    </div>
                    <br />
                    <hr />
                    <div>
                        {%block content%}
                        {%endblock%}
                    </div>

                </div>

            </div>
        </div>
    </section>




    {% block footer %}
        {% include "includes/footer.html" %}
    {% endblock footer %}








</body>
</html>
