{% extends 'blog/base.html' %}
{%load static%}

<!--{% block css %}-->
<!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
<!--{% endblock css %}-->

{% block title %} {{title}} {% endblock title %}

{% block five%}
<a href="/">^назад</a>
{{ block.super }}
{%endblock%}


{% block content %}

      <div>
        <a class="btn btn-default"  style="color:#0037ff" href="{% url 'post_edit' pk=post.pk %}">---Редактировать запись---<span class="glyphicon glyphicon-pencil"></span></a>
          <br><pr>
          {% if post.published_date %}
            <div>
                {{ post.published_date }}
            </div>
           {% endif %}
          <h1>{{ post.title }}</h1>

          <p>{{ post.text|linebreaksbr }}</p>
        {% if post.update_date %}
            <div>
                {{ post.update_date }}
            </div>
        {% endif %}
        <hr/>
          {%for comment in comments%}
          <p>{{comment.author.get_full_name}} </p>
          <p>{{comment.created_date}}</p>
          <p>{{comment.text}}</p>
          {% endfor %}

      </div>
{% endblock %}