<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zhig</title>
</head>
<body>
        <div>
            <h1><a href="/">Zhig Blog</a></h1>
        </div>

        <div>
            <p>published: 28.04.2020, 12:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Всем привет!!</p>
        </div>

        <div>
            <p>published: 28.04.2020, 12:30</p>
            <h2><a href="fgfg">My second post</a></h2>
            <p>Используй команду git status перед git add </p>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
</body>
</html>